<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  GethelpontheRubyonRailsTutorialatthe
  <a href="http://railstutorial.org/help">RailsTutorialhelppage</a>.
  Togethelponthissampleapp,seethe
  <a href="http://railstutorial.org/book">RailsTutorialbook</a>.
</p>